
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}



/*.content-cards {
  margin: 50px;
 
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 40%;
}
.example-form {
  min-width: 200px;
  max-width: 1000px;
  width: 100%;
 
}
.example-full-width {
  width: 100%;
  margin-left: 120px;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
}
*/
