.content-cards {
    margin: 50px;
    
   
  }
  .example-container {
      display: flex;
      flex-direction: column;
     
    }
    
    .example-container > * {
      width: 80%;
    } 
   
    
    